<div class="row">
  <div class="col-md-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card my-3 rounded-0" *ngFor="let recipe of recipes">
      <div class="card-block">
        <div class="d-flex justify-content-between">
          <div>
            <h4 class="card-title">{{recipe.name}}</h4>
            <p class="card-text">{{recipe.description}}</p>
          </div>
          <div>
            <img
            src="{{recipe.imagePath}}"
            alt="{{recipe.name}}"
            class="mx-auto d-block"
            style="max-height: 70px;">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
